body{
    margin:0;
    padding: 0;
}
header{
    background-color:white;
}
nav{
    background-image: url(/examen_web/img/pankaj-patel-kNfP4Z2eq7w-.jpg);

}
article{
    background-color:white;
}
aside{
    background-color: white;
}
footer{
    background-color: chocolate;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header, nav{
    flex: 1;
}
nav{
    flex: 100;
}
section{
    display: flex;
    flex-direction: row;
    flex: 1;
}
article{
    flex: 3;
}
aside{
    flex: 0;
}
h1, h2{
    margin: 0;
}
footer{
    display: flex;
    flex-direction: row;
}
footer div{
    flex: 1;
}

nav ul{
    display:flex;
    float:right;
}
nav ul li{
    list-style:none;
    border:1px solid;
    box-shadow: black;
    float:right;
}
nav li{
    margin: 0;
    position:relative;
}
nav a{
    text-decoration: none;
    padding: 10px;
    display:block;
    width: 120px;
    text-align: center;
}
nav a:hover{
    background-color:darkgreen;
}
img{
    float:left;
}
#imagen{
    float:right;
    flex-direction: row;
}

#titulo{
    color:white;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 30; /*para aumentar el grosor de la tipografia*/
    text-shadow: 5px 10px 10px #333;
    text-align:center;
    
    width: 200px;
}


#ti{
    color:green;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 30; /*para aumentar el grosor de la tipografia*/
    text-shadow: 5px 10px 10px #333;

}

#box{
    background-color:#58978A;
    margin:100px;
    padding:50px;
    border-radius: 50px;
    box-shadow: 5px 10px 10px 0 #744f4f;
}

#m{
    flex: 5;
    background: url(/examen_web/img/Vector\ 1.png);
   
    height: 25%;
    margin: auto;
}

.dd{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    padding: 20px;
}
.tell,tel1{
    text-align: center;
    padding: 0;
    margin: 0;
}



